/* common styles */

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* common styles end */

/* header styles start */

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 237px;
  display: flex;
  align-items: center;
  padding: 22px 0;
}

.header-logo-image {
  margin-right: 16px;
}

.header-logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}

.header-nav-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.link,
.list-button {
  color: #22343d;
  padding: 26px 0;
}

.list-item-product {
  font-weight: 600;
}

.sign-buttons {
  display: flex;
  align-items: center;
  gap: 21px;
}

.sign-in-button {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #fff;
  min-width: 105px;
  height: 42px;
  padding: 9px 24px;
}

.sign-up-button {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 113px;
  height: 42px;
  border: none;
  height: 42px;
  padding: 9px 24px;
}

/* header styles end */

/* main styles start */

/* hero section styles start */

.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  max-width: 452px;
  padding-top: 112px;
  margin-bottom: 18px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  max-width: 465px;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.play-button {
  margin-right: 9px;
}

.start-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  min-width: 178px;
  min-height: 53px;
  border: none;
  border-radius: 4px;
  padding: 15px 42px 14px 42px;
}

.video-button {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: none;
  background-color: #fff;
  min-width: 164px;
  min-height: 23px;
}

.hero-text-part {
  margin-right: 35px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

/* hero section styles end */

/* product section styles start */

.product-container {
  margin-bottom: 50px;
}

.product-title {
  display: block;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 529px;
  min-height: 96px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.hero-list-icon {
  margin-bottom: 26px;
}

.product-list-item {
  width: calc((100% - 90px) / 4);
}

.product-list-subtitle {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 13px;
}

.product-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

.product-button {
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 auto;
  min-width: 175px;
  min-height: 53px;
}

/* product section styles end */

/* management section styles start */

.management-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}

.management-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 25px;
}

.management-first-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 30px;
}

.management-second-text {
  padding-bottom: 25px;
}

.management-features {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 12px;
}

.management-section-text {
  margin-right: 84px;
  padding-top: 41px;
  padding-bottom: 41px;
}

/* management section styles end */

/* customer support section styles start */

.customer-support-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.customer-section-image {
  margin-right: 84px;
}

.customer-section-text {
  padding-top: 41px;
  padding-bottom: 40px;
  padding-right: 35px;
}

.customer-support-subtitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}

.customer-support-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 25px;
}

.customer-support-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 30px;
}

.customer-support-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.customer-support-list-item {
  max-width: 450px;
}

.customer-support-icon-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.customer-support-icon {
  margin-right: 30px;
}

.cs-icon {
  padding-top: 8px;
  padding-bottom: 9px;
}

.cs-text {
  max-width: 386px;
}

.customer-support-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

/* customer support section styles end */

/* collaborative section styles start */

.collaborative-container {
  display: flex;
  flex-direction: row;
  gap: 84px;
  margin-bottom: 150px;
}

.collaborative-section-text {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 41px;
}

.collaborative-section-subtitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}

.collaborative-section-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 24px;
}

.collaborative-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 30px;
}

.collaborative-section-list-subtitles {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 12px;
}

.collaborative-section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 25px;
}

/* collaborative section styles end */

/* quick&easy process section styles start */

.process-section-container {
  margin-bottom: 100px;
}

.process-section-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding-bottom: 25px;
}

.process-section-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding-bottom: 40px;
  max-width: 542px;
  margin: 0 auto;
}

.process-section-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #02897a;
  display: block;
  min-width: 216px;
  min-height: 53px;
  margin: 50px auto;
  padding: 15px 31px 14px 30px;
}

.process-section-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.expert {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 100px;
}

.expert.reverse {
  flex-direction: row-reverse;
}

.bubble {
  background: #ffffff;
  padding: 15px 25px;
  border-radius: 999px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
}

/* quick&easy process section styles ends */

/* content strategies section styles start */

.strategies-section-container {
  margin-bottom: 171px;
}

.strategies-title {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 10px;
}

.strategies-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  margin-bottom: 40px;
  max-width: 465px;
}

.strategies-list {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  gap: 30px;
}

.strategies-list-item {
  border-radius: 8px;
  border: 1px solid #dedede;
}

.strategies-list-image {
  margin-bottom: 24px;
}

.strategies-list-date {
  margin-bottom: 12px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.strategies-list-subtitle {
  max-width: 296px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  margin: 0 auto;
  padding-bottom: 40px;
}

.wahid-ari {
  font-weight: 700;
}

.motivation-text {
  color: #02897a;
}

/* content strategies section styles end */

/* price table section start */

.price-section-container {
  margin-bottom: 100px;
}

.price-section-title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 10px;
}

.price-section-description {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.price-section-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 72px;
}

.price-section-card {
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  min-width: 322px;
  min-height: 456px;
}

.price-section-middle-card {
  border-radius: 8px;
  min-width: 322px;
  min-height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background-color: #02897a;
}

.price-section-first-subtitle {
  font-size: 24px;
  line-height: 1.67;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}

.price-section-middle-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.67;
  color: #ffffff;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}

.price-section-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.67;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 8px;
}

.price-section-pay-method {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 16px;
}

.price-section-middle-pay-method {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 2.5;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.amount {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  position: relative;
}

.currency {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  position: absolute;
  left: 58px;
  top: 28px;
}

.per-month {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.01em;
  color: #afafaf;
}

.amount-middle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  position: relative;
}

.currency-middle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #ffffff;
  position: absolute;
  left: 58px;
  top: 22px;
}

.per-month-middle {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #e0e0e0;
  margin-left: 10px;
}

.currency-third {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  position: absolute;
  left: 86px;
  top: 22px;
}

.price-section-price {
  text-align: center;
}

.price-section-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}

.price-section-middle-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
  color: #ffffff;
}

.price-section-list-item-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  text-align: center;
}

.price-section-button {
  display: block;
  border-radius: 8px;
  min-width: 139px;
  min-height: 44px;
  background-color: #02897a;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin: 0 auto;
  padding: 11px 18px;
}

.price-section-middle-button {
  display: block;
  border-radius: 8px;
  min-width: 139px;
  min-height: 44px;
  background-color: #ffffff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  margin: 0 auto;
  padding: 11px 18px;
}

/* price table section end */

/* what clients says section styles start */

.clients-says-container {
  margin-bottom: 100px;
}

.clients-says-title {
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 10px;
}

.clients-says-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 40px;
  max-width: 537px;
  margin-left: 286px;
  margin-right: 286px;
  margin-bottom: 40px;
}

.clients-says-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 64px;
}

.clients-says-list-item {
  width: calc((100% - 128px) / 3);
}

.clients-says-box-review {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.clients-says-icon {
  margin-left: 28px;
  margin-top: 28px;
  margin-bottom: 16px;
}

.clients-says-review {
  display: block;
  max-width: 275px;
  margin-bottom: 16px;
  margin-left: 26px;
  margin-right: 26px;
}

.clients-says-photo-name {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
}

.clients-says-photo {
  margin-left: 26px;
  margin-right: 14px;
}

.clients-says-client-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.clients-says-client-job {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* what clients says section styles end */

/* promo section styles start */

.promo-container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 32px;
  background-color: #02897a;
  max-width: 968px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.promo-text-button {
  margin-right: 10px;
}

.promo-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #ffffff;
  max-width: 510px;
  margin-left: 51px;
  margin-top: 49px;
  margin-bottom: 46px;
}

.promo-button {
  border-radius: 8px;
  min-width: 150px;
  min-height: 50px;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  border: none;
  margin-left: 51px;
  margin-bottom: 56px;
}

.promo-image {
  display: block;
  object-fit: cover;
  margin-top: 4px;
  margin-right: 46px;
  margin-bottom: 10px;
}

/* promo section styles end */

/* footer styles start */

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  position: relative;
}

.footer-logo-link {
  display: flex;
  flex-direction: row;
  max-width: 178px;
  max-height: 36px;
  margin-right: 146px;
}

.footer-logo-image-part {
  margin-right: 16px;
}

.footer-logo-text-part {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin-top: 4px;
}

.footer-social-media-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  position: absolute;
  top: 54px;
}

.footer-social-media-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-media-list-item-link {
  border-radius: 50%;
  background-color: #edfffc;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-first-list-box {
  display: flex;
  flex-direction: column;
  margin-right: 129px;
}

.footer-first-list {
  display: flex;
  flex-direction: column;
}

.footer-first-list-item-text {
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}

.footer-second-list-box {
  display: flex;
  flex-direction: column;
  margin-right: 83px;
  max-width: 131px;
}

.footer-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.footer-third-list {
  display: flex;
  flex-direction: column;
  max-width: 325px;
}

.footer-button {
  border-radius: 4px;
  min-width: 131px;
  min-height: 39px;
  max-width: 131px;
  max-height: 39px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  background-color: #02897a;
  padding: 8px 15px;
  border: none;
}

.footer-aftertext {
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  margin-bottom: 40px;
}
