/* common styles */

body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

/* common styles end */

/* header styles start */

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 237px;
  display: flex;
  align-items: center;
  padding: 22px 0;
}

.header-logo-image {
  margin-right: 16px;
}

.header-logo-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 73px;
}

.header-nav-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.link,
.list-button {
  color: #22343d;
  padding: 26px 0;
}

.list-item-product {
  font-weight: 600;
}

.sign-buttons {
  display: flex;
  align-items: center;
  gap: 21px;
}

.sign-in-button {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #fff;
  min-width: 105px;
  height: 42px;
  padding: 9px 24px;
}

.sign-up-button {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 113px;
  height: 42px;
  border: none;
  height: 42px;
  padding: 9px 24px;
}

/* header styles end */

/* main styles start */

/* hero section styles start */

.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  max-width: 452px;
  padding-top: 112px;
  margin-bottom: 18px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  max-width: 465px;
  margin-bottom: 45px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-list-item {
  padding-bottom: 112px;
}

.start-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  min-width: 178px;
  min-height: 53px;
  border: none;
  border-radius: 4px;
  padding: 15px 42px 14px 42px;
}

.video-button {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: none;
  background-color: #fff;
  min-width: 164px;
  min-height: 23px;
}

.hero-text-part {
  margin-right: 35px;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

/* hero section styles end */

/* product section styles start */

.product-container {
  margin-bottom: 50px;
}

.product-title {
  display: block;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  max-width: 529px;
  min-height: 96px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}

.product-list-item {
  width: calc((100% - 90px) / 4);
}

.product-list-subtitle {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 13px;
}

.product-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

.product-button {
  border: none;
  border-radius: 4px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  display: block;
  margin: 0 auto;
  min-width: 175px;
  min-height: 53px;
}

/* product section styles end */

/* management section styles start */

.management-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.management-subtitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}

.management-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 25px;
}

.management-first-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 30px;
}

.management-second-text {
  padding-bottom: 25px;
}

.management-features {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 12px;
}

.management-section-text {
  margin-right: 84px;
  padding-top: 41px;
  padding-bottom: 41px;
}

/* management section styles end */

/* customer support section styles start */

.customer-support-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.customer-section-image {
  margin-right: 84px;
}

.customer-section-text {
  padding-top: 41px;
  padding-bottom: 40px;
  padding-right: 35px;
}

.customer-support-subtitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}

.customer-support-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 25px;
}

.customer-support-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  padding-bottom: 30px;
}

.customer-support-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.customer-support-list-item {
  max-width: 386px;
}

.customer-support-features {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
}

/* customer support section styles end */

/* collaborative section styles start */

.collaborative-container {
  display: flex;
  flex-direction: row;
  gap: 84px;
  margin-bottom: 150px;
}

.collaborative-section-text {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 41px;
}

.collaborative-section-subtitle {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
}

.collaborative-section-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 24px;
}

.collaborative-section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 30px;
}

.collaborative-section-list-subtitles {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 12px;
}

.collaborative-section-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 25px;
}

/* collaborative section styles end */

/* quick&easy process section styles start */

.process-section-container {
}

.process-section-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  padding-bottom: 25px;
}

.process-section-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding-bottom: 40px;
  max-width: 542px;
  margin: 0 auto;
}

.process-section-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
  justify-content: space-around;
  gap: 100px;
}

.process-section-list-item {
  display: flex;
    flex: row;
}

.process-section-list-item-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  box-sizing: border-box;
}

.process-section-list-item-image {
}

.process-section-list-item-style {
  display: flex;
  flex-direction: row;
  width: 408px;
  height: 98px;
  justify-content: space-evenly;
}

.process-section-button {
  font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    border: none;
    background-color: #02897a;
    display: block;
    min-width: 216px;
    min-height: 53px;
    margin: 0 auto;
    padding: 15px 31px 14px 30px;
}

.first-two {
display: flex;
flex-direction: row;
gap: 91px;
margin: 0 auto;
justify-content: space-evenly;
}

.second-two {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 0 auto;
  justify-content: space-evenly;
}